
body{

    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
	background-size: cover;
}

nav{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(88,156,170,1) 40%, rgba(88,156,170,1) 60%, rgba(255,255,255,1) 100%);
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a:hover{
    color: rgb(44, 24, 92);
}

.texto{
    color: white;
    font-size: 30px;
    text-align: justify;
}

h3{
    font-size: 45px;
    text-align: center;
    color: white;
}

img{
    width: 500px;
    height: auto;
    padding: 20px;
}

#silueta{
    padding-right: 40px;
    width: 100px;
    display: inline-block;
}

.texto1{
    color: white;
    font-size: 15px;
    background: grey;
}
.cambio{
    color:blue;
    font-style: italic;
}

